#jumbo {
    background-color: transparent;
}

#myFaves {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(8,8,138,0.8);
    box-shadow: 3px 3px 7px 3px #1C1C1C;
    text-shadow: 3px 3px 7px #1C1C1C;
}

#pgCenter {
    border: 2px solid black;
    background-color: rgba(8,8,138,0.8);
    box-shadow: 3px 3px 7px 3px #1C1C1C;
    text-shadow: 3px 3px 7px #1C1C1C;
}

#urFaves {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(8,8,138,0.8);
    box-shadow: 3px 3px 7px 3px #1C1C1C;
    text-shadow: 3px 3px 7px #1C1C1C;
}

.header {
    border: 2px solid black;
    margin-top: 25px;
    padding: 10px;
    background-color: rgba(8,8,138,0.8);
    color: #F5F6CE;
    font-family: 'Chewy', cursive;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #1C1C1C;
    box-shadow: 3px 3px 7px 3px #1C1C1C;
}

.footer {
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(8,8,138,0.8);
    color: #F5F6CE;
    font-family: 'Chewy', cursive;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #1C1C1C;
    box-shadow: 3px 3px 7px #1C1C1C;
}

td {
    padding: 5px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F5F6CE;
}

label {
    color: #F5F6CE;   
}

#left {
    color: royalblue;
    display: none;
}

#left2 {
    display: none;
}

#left3 {
    display: none;
}

#left4 {
    display: none;
}

#left5 {
    display: none;
}

#explain {
    margin-bottom: 15px;
    padding: 15px;
}

.dialogoverlay {
    opacity: .9;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    z-index: 10;
}

.dialogbox {
    position: fixed;
    background: rgb(8,8,138);
    border-radius: 7px;
    width: 550px;
    z-index: 10;
    padding: 2px;
    box-shadow: 3px 3px 7px 3px #1C1C1C;
}

.dialogbox div {
    background: #F3F781;
    margin: 4px;
    padding: 2px;
}

.dialogbox div #dialogboxhead {
    background: #E0ECF8;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
    height: 54px;
    color: rgb(8,8,138);
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(8,8,138);
    box-shadow: 2px 2px 5px 2px #1C1C1C;
    text-shadow: 3px 3px 7px #A4A4A4;
}

.dialogbox div #dialogboxbody {
    background: #E0ECF8;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: rgb(8,8,138);
    border: 2px solid rgb(8,8,138);
    box-shadow: 2px 2px 5px 2px #1C1C1C;
    text-shadow: 3px 3px 7px #A4A4A4;
}

.dialogbox div #dialogboxfoot {
    background: #E0ECF8;
    padding: 10px;
    text-align: right;
    margin-top: 5px;
    height: 54px;
    border: 2px solid rgb(8,8,138);
    box-shadow: 2px 2px 5px 2px #1C1C1C;
}

#okbtn {
    background: #F3F781;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: rgb(8,8,138);
    border: 2px solid rgb(8,8,138);
    font-weight: bold;
    box-shadow: 2px 2px 5px 2px #1C1C1C;
}

body {
    background-image: url(https://c1.staticflickr.com/5/4006/4526388286_fbd15b9eb8_z.jpg);
    background-size: cover;
    font-family: 'Cantarell', sans-serif;
}

.button {
    background-color: #F3F781;
    border: 2px solid black;
    color: rgb(8,8,138);
    padding: 5px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    box-shadow: 3px 3px 7px 3px #1C1C1C;
    text-shadow: 3px 3px 7px #1C1C1C;
}

input {
    color: black;
    box-shadow: 3px 3px 7px 3px #1C1C1C;
}

#title {
    color: #F5F6CE;
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 18px;
}
